<div class="column">
  <div class="background-teal">
    <a href="#" class="block">
    <img class="no-border" src="/images/multifamily/mf-bg1.jpg" alt="building" />
    <div class="callout small-to-large text-center" data-equalizer-watch>
      <div class="flex-up weight-normal">13 Units - Minneapolis, MN<div class="stat-sm weight-medium">$2.45 million</div>Lender: ReadyCap</div>
    </div>
    </a>
  </div>
</div>
<div class="column">
  <div class="background-teal">
  <a href="#" class="block">
    <img class="no-border" src="/images/multifamily/mf-bg6.jpg" alt="building" />
    <div class="callout small-to-large text-center" data-equalizer-watch>
      <div class="flex-up weight-normal">20 Units - Austin, TX<div class="stat-sm weight-medium">$1.43 million</div>Lender: CBRE</div>
    </div>
  </a>
  </div>
</div>
<div class="column">
  <div class="background-teal">
  <a href="#" class="block">
    <img class="no-border" src="/images/multifamily/mf-bg2.jpg" alt="building" />
    <div class="callout small-to-large text-center" data-equalizer-watch>
      <div class="flex-up weight-normal">25 Units - Denver, CO<div class="stat-sm weight-medium">$2.42 million</div>Lender: Greystone</div>
    </div>
  </a>
  </div>
</div>
<div class="column">
  <div class="background-teal">
  <a href="#" class="block">
    <img class="no-border" src="/images/multifamily/mf-bg5.jpg" alt="building" />
    <div class="callout small-to-large text-center" data-equalizer-watch>
      <div class="flex-up weight-normal">170 Units - Cincinnati, OH<div class="stat-sm weight-medium">$5.99 million</div>Lender: Hunt </div>
    </div>
  </a>
  </div>
</div>

