    <div class="gutter-bottom gutter-top">
      <div class="callout large background-concrete">
        <div class="callout">
          <div class="row">
              <div class="column large-5">
                <div class="gutter-left-xlarge text-center large-text-left">
                  <img src="/images/multifamily/promo-temp.jpg">
                </div>
                <div class="gutter-bottom hide-for-large"></div>
              </div>
              <div class="column large-7 xlarge-6 end">
                <div class="gutter-left-large">
                  <div class="">
                  <h2>Innovation Keeps NY Housing Community Affordable</h2>
                  <p>Financial innovation is as basic to preserving affordable housing today as wiring, plumbing and bricks. This is especially true when one of the few affordable apartments left in pricey Westchester County, New York needs $50.5 million in improvements but the partnership has a limited amount of capital ($20,000) and capacity to take on additional liabilities.</p>
                  <a class="button secondary" href="#">Read More</a>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>