<div class="background-yellow footer-promo">
  <div class="row" data-equalizer data-equalize-on="large">
      <div class="column large-7" data-equalizer-watch>
        <h3 class="callout-footer-title">Stay Informed</h3>
        <p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis. adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
      </div>
      <div class="column large-offset-1 large-4 position-relative" data-equalizer-watch>
        <div class="text-center large-text-right gutter-left-large vertical-align">         
          <form action="#" class="form footer-form outline">
            <p><input type="email" placeholder="Your Email Address"></p>
            <p><button class="hollow button" href="#">Sign Up</button></p>
          </form>
        </div>
      </div>
  </div>
</div>