<div id="subnav-secondary-nav">
  <nav class="secondary-nav" id="subnav-seller-servicers" data-toggler=".is-expanded" role="navigation">
    <div class="row column">
      <ul class="hide no-bullet">
        <li><a id="subnav-seller-servicers-toggle" class="hide-for-xlarge" data-toggle="subnav-seller-servicers">Seller/Servicers Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-seller-servicers-list">
            <li><a id="subnav-seller-servicers-uw" href="/multifamily/seller_servicer/uw/">Originate &amp; Underwrite</a></li>
            <li><a id="subnav-seller-servicers-purchase" href="/multifamily/seller_servicer/purchase/">Purchase &amp; Deliver</a></li>
            <li><a id="subnav-seller-servicers-reporting" href="/multifamily/seller_servicer/reporting/">Investor Reporting</a></li>
            <li><a id="subnav-seller-servicers-asset" href="/multifamily/seller_servicer/asset/">Asset Management</a></li>
            <li><a id="subnav-seller-servicers-guide" href="/multifamily/seller_servicer/guide/">Guide and Forms</a></li>
            <li><a id="subnav-seller-servicers-legal" href="/multifamily/seller_servicer/legal/">Legal Documents</a></li>
          </ul>
        </li>
      </ul>     
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-investors" data-toggler=".is-expanded" role="navigation">
    <div class="row column">
      <ul class="hide no-bullet">
        <li><a id="subnav-investors-toggle" class="hide-for-xlarge" data-toggle="subnav-investors">Investors Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-investors-list">
            <li><a id="subnav-investors-calendars" href="/multifamily/investors/calendars.html">Issuance Calendars</a></li>
            <li><a id="subnav-investors-presentations" href="/multifamily/investors/presentations.html">Presentations</a></li>
            <li><a id="subnav-investors-performance" href="/multifamily/investors/data.html">Performance Data</a></li>
            <li><a id="subnav-investors-lookup" href="/multifamily/investors/sd_remic_lookup.html">Lookup Tools</a></li>
            <li><a id="subnav-investors-investments" href="/multifamily/investors/investments.html">Investments</a></li>
          </ul>
        </li>
      </ul>     
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-borrowers" data-toggler=".is-expanded" role="navigation">
    <div class="row column">
      <ul class="hide no-bullet">
        <li><a id="subnav-borrowers-toggle" class="hide-for-xlarge" data-toggle="subnav-borrowers">Borrowers Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-borrowers-list">
            <li><a id="subnav-borrowers-conventional" href="/multifamily/borrowers/lenders-conventional.html">Conventional Lenders</a></li>
            <li><a id="subnav-borrowers-tah" href="/multifamily/borrowers/lenders-tah.html">Targeted Affordable Housing Lenders</a></li>
            <li><a id="subnav-borrowers-seniors" href="/multifamily/borrowers/lenders-seniors.html">Seniors Housing Lenders</a></li>
            <li><a id="subnav-borrowers-sbl" href="/multifamily/borrowers/lenders-sbl.html">Small Balance Loan Lenders</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-products" data-toggler=".is-expanded" role="navigation">
    <div class="row column">      
      <ul class="hide no-bullet">
        <li><a id="subnav-products-toggle" class="hide-for-xlarge" data-toggle="subnav-products">Products Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-products-list">
            <li><a id="subnav-products-conventional" href="/multifamily/product/conventional.html">Conventional</a></li>
            <li><a id="subnav-products-sbl" href="/multifamily/product/sbl.html">Small Balance Loan</a></li>
            <li><a id="subnav-products-tah" href="/multifamily/product/tah.html">Targeted Affordable Housing</a></li>
            <li><a id="subnav-products-seniors" href="/multifamily/product/seniors.html">Seniors Housing</a></li>
            <li><a id="subnav-products-lock" href="/multifamily/product/lock-options.html">Lock Options</a></li>
            <li><a id="subnav-products-green" href="/multifamily/product/green-advantage.html">Green Advantage</a></li>
        </li>
      </ul>  
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-news" data-toggler=".is-expanded" role="navigation">
    <div class="row column">       
      <ul class="hide no-bullet">
        <li><a id="subnav-news-toggle" class="hide-for-xlarge" data-toggle="subnav-news">News &amp; Research Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-news-list">
            <li><a id="subnav-news-customer" href="/multifamily/news/customer-news.html">Customer News</a></li>
            <li><a id="subnav-news-research" href="/multifamily/research/">Research</a></li>
            <li><a id="subnav-news-aimi" href="/multifamily/aimi/">AIMI</a></li>
            <li><a id="subnav-news-releases" href="/multifamily/news/release.html">News Releases</a></li>
            <li><a id="subnav-news-events" href="/multifamily/events/">Events and Education</a></li>
            <li><a id="subnav-news-viewpoints" href="/multifamily/viewpoints/">Viewpoints</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-about" data-toggler=".is-expanded" role="navigation">
    <div class="row column">       
      <ul class="hide no-bullet">
        <li><a id="subnav-about-toggle" class="hide-for-xlarge" data-toggle="subnav-about">About Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-about-list">
            <li><a id="subnav-about-who" href="/multifamily/about/who_we_are.html">Who We Are</a></li>
            <li><a id="subnav-about-results" href="/multifamily/about/our_results.html">Our Results</a></li>
            <li><a id="subnav-about-careers" href="http://www.freddiemac.jobs/">Careers</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="subnav-bottom"></div>
  </nav>
</div> 
<div class="subnav-edge"></div> 