<section class="sidebar background-primary sidebar-feature">
  <div class="feature-background" style="background-image: url('/images/multifamily/mf-bg5.jpg')"></div>
  <div class="row">
    <div class="column">
      <p class="article-category"><span class="weight-light">September 26, 2017</span></p>
      <h3 class="sidebar-title">Freddie Mac's AIMI Sees Quarterly Increases </h3>
      <p>Bolstered by High Income Growth in the second quarter, AIMI rebounded with quarterly increases in all 14 of the markets it tracks and at the national level. </p>
      <p><a class="hollow button expand" href="http://freddiemac.mwnewsroom.com/press-releases/bolstered-by-high-income-growth-freddie-mac-s-aim-otcqb-fmcc-1321403">Read the Release</a></p>
    </div>
  </div>
</section>

