<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2 class="sidebar-title">Recent Viewpoints</h2>
      <ul class="list-divided no-bullet">
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="http://www.freddiemac.com/perspectives/images/authors/EP_Stephen_Johnson-130.jpg" alt="Stephen Johnson" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">March 29, 2017</div>
            <h3 class="sidebar-headline"><a href="#">Five Tips to Get the Most Cash Out of Your Small Rental Property</a></h3>
            <p class="article-byline-small"><strong class="uppercase">Stephen Johnson</strong></p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/perspectives/gilmore-small.jpg" alt="Yvette Gilmore" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Dec 12, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Homeownership: Where We Are Now, Where We Are Headed</a></h3>
            <p class="article-byline-small"><strong class="uppercase">Yvette Gilmore</strong></p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/perspectives/exec_donald_layton-small.jpg" alt="Donald H. Layton" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Nov 21, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Freddie Mac Reports Another Quarter of Solid Financial Results</a></h3>
            <p class="article-byline-small"><strong class="uppercase">Donald H. Layton</strong></p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/perspectives/exec_dwight_robinson-small.jpg" alt="Dwight Robinson" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Nov 2, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Giving Back in the Communities Where We Live and Work</a></h3>
            <p class="article-byline-small"><strong class="uppercase">Dwight Robinson</strong></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
