<section class="sidebar background-primary">
  <div class="row">
    <div class="column">
      <div class="sidebar-txt">
        <h3>Subscribe</h3>
        <p class="lead">Sign up to receive the latest news, research and viewpoints from Multifamily. </p>
        <form class="form outline" action="" enctype="x-www-form-urlencoded" method="post" novalidate data-abide>
          <p><input type="email" placeholder="name@company.com" required="required"></p>
          <p><button class="primary button" type="submit">Subscribe</button></p>
        </form>
      </div>
    </div>
  </div>
</section>