<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2 class="sidebar-title">Recent Viewpoints</h2>
      <ul class="list-divided no-bullet">
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="http://www.freddiemac.com/perspectives/images/authors/EP_Stephen_Johnson-130.jpg" alt="Stephen Johnson" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">March 29, 2017</div>
            <h3 class="sidebar-headline"><a href="#">Five Tips to Get the Most Cash Out of Your Small Rental Property</a></h3>
            <p class="article-byline-small"><strong class="uppercase">Stephen Johnson</strong><br>VP Multifamily Small Balance Loan Business</p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="http://www.freddiemac.com/perspectives/images/authors/EP_John_Cannon-130.jpg" alt="John Cannon" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Mar 6, 2017</div>
            <h3 class="sidebar-headline"><a href="#">Multifamily Notes from San Diego</a></h3>
            <p class="article-byline-small"><strong class="uppercase">John Cannon</strong><br>SVP Multifamily Production and Sales </p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="http://www.freddiemac.com/perspectives/images/authors/EP_Davd_Brickman-130.jpg" alt="David Brickman" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Dec 12, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Multifamily Is On a Roll</a></h3>
            <p class="article-byline-small"><strong class="uppercase">David Brickman</strong><br>EVP Multifamily Business</p>
          </div>
        </li> 
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="http://www.freddiemac.com/perspectives/images/authors/EP_David_Leopold-130.jpg" alt="David Leopold" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Oct 3, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Rental Housing Needs a Green Advantage</a></h3>
            <p class="article-byline-small"><strong class="uppercase">David Leopold</strong><br>VP Multifamily Affordable Housing Production</p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="http://www.freddiemac.com/perspectives/images/authors/EP_Debby_Jenkins-130.jpg" alt="Deborah Jenkins" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">May 29, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Crafting Creative Solutions, Staying True to Our Principles</a></h3>
            <p class="article-byline-small"><strong class="uppercase">Deborah Jenkins</strong><br>SVP Multifamily Underwriting &amp; Credit</p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="http://www.freddiemac.com/perspectives/images/authors/EP_Steve_Guggenmos-130.jpg" alt="Steve Guggenmos" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Feb 29, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Will 2017 Be Another Growth Year?</a></h3>
            <p class="article-byline-small"><strong class="uppercase">Steve Guggenmos</strong><br>VP Multifamily Research and Modeling</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
