<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2 class="sidebar-title">Tools for Lenders</h2>
      <ul class="no-bullet">
        <li><p><a class="sidebar-headline" href="#">Loan Origination</a><br>
          Lorem ipsum dolor sit amet, consectetur.</p>
        </li>	
        <li><p><a class="sidebar-headline" href="#">Loan Execution</a><br>
          Lorem ipsum dolor sit amet, consectetur.</p>
        </li>
        <li><p><a class="sidebar-headline" href="#">Guide and Forms</a><br>
          Lorem ipsum dolor sit amet, consectetur.</p>
        </li>
      </ul>
    </div>
  </div>
</section>