<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
        <h2 class="sidebar-title">Research</h2>
      <ul class="list-divided no-bullet">
        <li>
          <div class="article-date">July 28, 2017</div>
          <div class="sidebar-headline"><a href="#">Steve and Aaron Explore Rental Housing Affordability</a></div>
        </li>	
        <li>
          <div class="article-date">July 26, 2017</div>
          <div class="sidebar-headline"><a href="#">2017 Multifamily Mid-year Outlook</a></div>
        </li>
        <li>
          <div class="article-date">June 6, 2017</div>
          <div class="sidebar-headline"><a href="#">Steve and Aaron Cover the Multifamily Market: What’s Hot and What’s Not</a></div>
        </li>
        <li>
          <div class="article-date">April 6, 2017</div>
          <div class="sidebar-headline"><a href="#">Multifamily Volume and Pricing Outlook</a></div>
        </li>	
        <li>
          <div class="article-date">March 2017</div>
          <div class="sidebar-headline"><a href="#">More Renters Put Moving Plans On Hold Even As Financial Optimism Grows</a></div>
        </li>
      </ul>
    </div>
  </div>
</section>