<section class="sidebar background-blue sidebar-feature">
  <div class="feature-background" style="background-image: url('/images/multifamily/mf-bg5.jpg')"></div>
  <div class="row">
    <div class="column">
      <div class="sidebar-txt">
        <p class="article-category"><span class="weight-light">July 30, 2016</span></p>
        <h3 class="sidebar-title">2017 Multifamily Mid-year Outlook</h3>
        <p>The multifamily market will continue to grow in line with the historical average for the rest of 2017. Read our Outlook and watch our summary video to learn more.</p>
        <p><a class="hollow button expand" href="#">View Report</a></p>
      </div>
    </div>
  </div>
</section>
