<section class="sidebar background-purple">
  <div class="row">
    <div class="column">
      <div class="sidebar-txt">
        <h3>Meet the Team</h3>
        <p>With four regional and eight field offices, we have a strong regional presence and our teams are ready to provide you with local market expertise.</p>
      </div>
      <p><a class="hollow button" data-open="mfTeamModal" aria-controls="mfTeamModal">Find your regional team</a></p>
    </div>
  </div>
</section>
<div class="reveal full background-blue" id="mfTeamModal" data-reveal aria-labelledby="mfTeam-label">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2 id="mfTeam-label">Conventional Team and Locations</h2>
        </div>
        <div class="modal-page-header">
          <h1>Multifamily Regional and Field Offices</h1>
        </div>
        <div class="callout xlarge background-white no-margin">
          <img class="no-border show-for-large" src="/images/multifamily/maps_regions_all.png" alt="map of regional locations">
          <img class="no-border hide-for-large" src="/images/multifamily/maps_regions_mobile.png" alt="map of regional locations">
        </div>
        <div class="gutter-bottom background-white">
          <p class="text-center weight-normal"><a href="http://www.freddiemac.com/multifamily/pdf/regionalmap.pdf">Download the regional map</a></p>
        </div>
        <div class="gutter-top gutter-bottom-large"></div>
        <h2 class="gutter-top gutter-bottom accent-yellow">Northeast Region</h2>
        <h3 class="gutter-top gutter-bottom weight-normal">Production &amp; Sales</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Rich Martinez" src="http://www.freddiemac.com/multifamily/images/regional_team_rich_martinez.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Richard Martinez</span><br>Vice President</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:richard_martinez@freddiemac.com">Contact Rich</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Tom Podgorski, Senior Regional Director" src="http://www.freddiemac.com/multifamily/images/regional_team_tom_podgorski.jpg"> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Tom Podgorski</span><br>Senior Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:thomas_podgorski@freddiemac.com">Contact Tom</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Lauren Whited, Transaction Manager" src="http://www.freddiemac.com/multifamily/images/regional_team_lauren_whited.jpg" />
              <figcaption>
                  <p class="snug"><span class="card-title weight-bold">Lauren Whited</span><br>Transaction Manager</p>
                  <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:lauren_whited@freddiemac.com">Contact Lauren</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <h3 class="gutter-top gutter-bottom weight-normal">Underwriting &amp; Credit</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Steve Lansbury, Vice President" src="http://www.freddiemac.com/multifamily/images/regional_team_steve_lansbury.jpg" />
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Steve Lansbury</span> <br>Vice President</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:stephen_lansbury@freddiemac.com"> Contact Steve</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Tom Hamill, Senior Director" src="http://www.freddiemac.com/multifamily/images/regional_team_tom_hamill.jpg" />
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Tom Hamill</span><br>Senior Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:thomas_hamill@freddiemac.com"> Contact Tom</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Joe Tancredi, Regional Director" src="http://www.freddiemac.com/multifamily/images/regional_team_joe_tancredi.jpg" />
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Joe Tancredi</span><br>Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:joseph_tancredi@freddiemac.com">Contact Joe</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <hr>        
        <h2 class="gutter-top gutter-bottom accent-yellow">Southest Region</h2>
        <h3 class="gutter-top gutter-bottom weight-normal">Production &amp; Sales</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Rich Martinez" src="http://www.freddiemac.com/multifamily/images/regional_team_rich_martinez.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Richard Martinez</span><br>Vice President</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:richard_martinez@freddiemac.com">Contact Rich</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Geri Borger Urgo, Senior Managing Director" src="http://www.freddiemac.com/multifamily/images/regional_team_geri_borger.jpg"> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Geri Borger Urgo</span><br>Senior Managing Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:geraldine_borger@freddiemac.com">Contact Geri</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Preslava Kovatchevska, Director" src="http://www.freddiemac.com/multifamily/images/regional_team_preslava_kovatchevska.jpg" /> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Preslava Kovatchevska</span><br>Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:preslava_kovatchevska@freddiemac.com">Contact Preslava</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Lauren Whited, Transaction Manager" src="http://www.freddiemac.com/multifamily/images/regional_team_lauren_whited.jpg" />
              <figcaption>
                  <p class="snug"><span class="card-title weight-bold">Lauren Whited</span><br>Transaction Manager</p>
                  <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:lauren_whited@freddiemac.com">Contact Lauren</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Michael A. Patterson, Senior Producer" src="http://www.freddiemac.com/multifamily/images/regional_team_michael_a_patterson.jpg" /> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Michael A. Patterson</span><br>Senior Producer<br>Atlanta Field Office</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:michael_a_patterson@freddiemac.com">Contact Michael</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Jim Dishmon, Production Professional" src="http://www.freddiemac.com/multifamily/images/regional_team_jim_dishmon.jpg" /> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Jim Dishmon</span><br>Production Professional<br>Fort Lauderdale Field Office</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:james_dishmon@freddiemac.com">Contact Jim</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <h3 class="gutter-top gutter-bottom weight-normal">Underwriting &amp; Credit</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Steve Lansbury, Vice President" src="http://www.freddiemac.com/multifamily/images/regional_team_steve_lansbury.jpg" />
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Steve Lansbury</span> <br>Vice President</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:stephen_lansbury@freddiemac.com"> Contact Steve</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Ian Ouwerkerk, Senior Director" src="http://www.freddiemac.com/multifamily/images/regional_team_ian_ouwerkerk.jpg" />
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Ian Ouwerkerk</span><br>Senior Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:ian_ouwerkerk@freddiemac.com">Contact Ian</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Rachel Levy, Director" src="http://www.freddiemac.com/multifamily/images/regional_team_rachel_levy.jpg" />
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Rachel Levy</span><br>Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:rachel_levy@freddiemac.com">Contact Rachel</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <hr>
        <h2 class="gutter-top gutter-bottom accent-yellow">Central Region</h2>
        <h3 class="gutter-top gutter-bottom weight-normal">Production &amp; Sales</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Kelli Carhart, Vice President" src="http://www.freddiemac.com/multifamily/images/regional_team_kelli_carhart.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Kelli Carhart</span><br>Vice President</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:kelli_carhart@freddiemac.com"> Contact Kelli</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Amanda Nunnink, Senior Director" src="http://www.freddiemac.com/multifamily/images/regional_team_amanda_nunnink.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Amanda Nunnink</span><br>Senior Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:amanda_nunnink@freddiemac.com"> Contact Amanda</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Edward Corbett, Director" src="http://www.freddiemac.com/multifamily/images/regional_team_edward_corbett.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Edward Corbett</span><br>Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:edward_corbett@freddiemac.com">Contact Edward</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Kirstin Cook, Transaction Manager" src="http://www.freddiemac.com/multifamily/images/regional_team_kirstin_cook.jpg"> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Kirstin Cook</span><br>Transaction Manager</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:kirstin_cook@freddiemac.com">Contact Kirstin</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Matthew Brodsky, Senior Producer" src="http://www.freddiemac.com/multifamily/images/regional_team_matthew_brodsky.jpg"> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Matthew Brodsky</span><br>Senior Producer<br>Dallas Field Office</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:matthew_brodsky@freddiemac.com">Contact Matthew</a></p>
              </figcaption>
            </figure>
          </div>

          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Catherine Justice, Senior Producer" src="http://www.freddiemac.com/multifamily/images/regional_team_catherine_justice.jpg"> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Catherine Justice</span><br>Senior Producer<br>Houston Field Office</p> 
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:catherine_justice@freddiemac.com">Contact Catherine</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <h3 class="gutter-top gutter-bottom weight-normal">Underwriting &amp; Credit</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Steve Lansbury, Vice President" src="http://www.freddiemac.com/multifamily/images/regional_team_steve_lansbury.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Steve Lansbury</span><br>Vice President</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:stephen_lansbury@freddiemac.com"> Contact Steve</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Phillip Cathlina, Senior Director" src="http://www.freddiemac.com/multifamily/images/regional_team_phil_cathlina.jpg"> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Phillip Cathlina</span><br>Senior Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:phillip_cathlina@freddiemac.com">Contact Phillip</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Adam Monti, Director" src="http://www.freddiemac.com/multifamily/images/regional_team_adam_monti.jpg"> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Adam Monti</span><br>Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:adam_monti@freddiemac.com">Contact Adam</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <hr>
        <h2 class="gutter-top gutter-bottom accent-yellow">Western Region</h2>
        <h3 class="gutter-top gutter-bottom weight-normal">Production &amp; Sales</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Steve Griffin, Regional Director" src="http://www.freddiemac.com/multifamily/images/regional_team_peter_giles.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Peter Giles</span><br>Vice President</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:peter_giles@freddiemac.com"> Contact Peter</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Steve Griffin, Regional Director" src="http://www.freddiemac.com/multifamily/images/regional_team_steve_griffin.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Steve Griffin</span><br>Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:stephen_griffin@freddiemac.com"> Contact Steve</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Tony Nargi, Regional Director" src="http://www.freddiemac.com/multifamily/images/regional_team_tony_nargi.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Tony Nargi</span><br>Director<br>Denver Field Office</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:anthony_nargi@freddiemac.com"> Contact Tony</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Eric Ealy, Regional Director" src="http://www.freddiemac.com/multifamily/images/regional_team_eric_ealy.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Eric Ealy</span><br>Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:eric_ealy@freddiemac.com">Contact Eric</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Cory Jurasits, Transaction Manager" src="http://www.freddiemac.com/multifamily/images/regional_team_cory_jurasits.jpg"> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Cory Jurasits</span><br>Transaction Manager<br>Denver Field Office</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:cory_jurasits@freddiemac.com">Contact Cory</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Steve Lineberger, Senior Producer" src="http://www.freddiemac.com/multifamily/images/regional_team_steve_lineberger.jpg"> 
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Steve Lineberger</span><br>Manager<br>Seattle Field Office</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:steven_lineberger@freddiemac.com">Contact Steve</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Jean-Laurent Pouliot, Senior Producer" src="http://www.freddiemac.com/multifamily/images/regional_team_jean_laurent_pouliot.jpg">                             <figcaption>
                <p class="snug"><span class="card-title weight-bold">Jean-LaurentPouliot</span><br>Production Professional<br>Irvine Field Office</p>             <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:jean-laurent_pouliot@freddiemac.com">Contact Jean-Laurent</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <h3 class="gutter-top gutter-bottom weight-normal">Underwriting &amp; Credit</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Steve Lansbury, Vice President" src="http://www.freddiemac.com/multifamily/images/regional_team_steve_lansbury.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Steve Lansbury</span><br>Vice President</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:stephen_lansbury@freddiemac.com"> Contact Steve</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Jack Leighton, Senior Director" src="http://www.freddiemac.com/multifamily/images/regional_team_jack_leighton.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Jack Leighton</span><br>Senior Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:jack_leighton@freddiemac.com">Contact Jack</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <hr>
        <h2 class="gutter-top gutter-bottom accent-yellow">Structured</h2>
        <h3 class="gutter-top gutter-bottom weight-normal">Production &amp; Sales</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Lauren Garren, Vice President" src="http://www.freddiemac.com/multifamily/images/regional_team_lauren_garren.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Lauren Garren</span><br>Vice President</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:lauren_garren@freddiemac.com"> Contact Lauren</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Denise Hogan, Director" src="http://www.freddiemac.com/multifamily/images/regional_team_denise_hogan.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Denise Hogan</span><br>Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:denise_hogan@freddiemac.com"> Contact Denise</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <h3 class="gutter-top gutter-bottom weight-normal">Underwriting &amp; Credit</h3>
        <div class="row small-up-2 medium-up-3 large-up-4 xlarge-up-5">
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Mike Patterson, Vice President" src="http://www.freddiemac.com/multifamily/images/regional_team_mike_patterson.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Mike H. Patterson</span><br>Vice President </p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:michael_patterson@freddiemac.com">Contact Mike</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="gutter-bottom">
              <img alt="Charlotte Lindell, Senior Director" src="http://www.freddiemac.com/multifamily/images/regional_team_charlotte_lindell.jpg">
              <figcaption>
                <p class="snug"><span class="card-title weight-bold">Charlotte Lindell</span><br>Senior Director</p>
                <p class="enlarge weight-bold accent-yellow"><a class="mailto" href="mailto:charlotte_lindell@freddiemac.com"> Contact Charlotte</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>