<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">August 13, 2016</div>
      <h3 class="card-title-large"><a href="#">Strength Through Diversity and Inclusion</a></h3>
      <p class="card-blurb-large">Decades of research shows the power of diversity to drive innovation and yield competitive advantage in the workplace.</p>
      <figure class="avatar">
        <div>
          <img src="/images/perspectives/brickman-sm.jpg" alt="Avatar image" />
        </div>
        <div>
          <figcaption class="reduce"><strong class="uppercase">David Brickman</strong></figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">June 27, 2016</div>
      <h3 class="card-title-large"><a href="#">Mission Critical: Our Plan Strengthen Underserved Markets</a></h3>
      <p class="card-blurb-large">A critical part of our mission is to serve families across the nation who are struggling to find decent, affordable housing.</p>
      <figure class="avatar">
        <div>
          <img src="/images/perspectives/gilmore-sm.jpg" alt="Avatar image" />
        </div>
        <div>
          <figcaption class="reduce"><strong class="uppercase">Yvette Gilmore</strong></figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">May 13, 2016</div>
      <h3 class="card-title-large"><a href="#">We've Surpassed $200 Billion</a></h3>
      <p class="card-blurb-large">Today, we reached an important milestone in the history of Freddie Mac Multifamily securitizations — surpassing the $200 billion mark for K- and SB-Deal issuances.</p>
      <figure class="avatar">
        <div>
          <img src="/images/perspectives/layton-sm.jpg" alt="Avatar image" />
        </div>
        <div>
          <figcaption class="reduce"><strong class="uppercase">Donald H. Layton</strong></figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">April 30, 2016</div>
      <h3 class="card-title-large"><a href="#">Mission Critical: Our Plan Strengthen Underserved Markets</a></h3>
      <p class="card-blurb-large">A critical part of our mission is to serve families across the nation who are struggling to find decent, affordable housing.</p>
      <figure class="avatar">
        <div>
          <img src="/images/perspectives/hanson-sm.jpg" alt="Avatar image" />
        </div>
        <div>
          <figcaption class="reduce"><strong class="uppercase">Mark Hanson</strong></figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>

