<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">Mar 6, 2017</div>
      <h3 class="card-title-large"><a href="#">Multifamily Notes from San Diego</a></h3>
      <p class="card-blurb-large">Freddie Mac SVP John Cannon shares some of his notes from the Mortgage Bankers Association's Commercial Real Estate Finance Conference.</p>
      <figure class="avatar">
        <div>
          <img alt="John Cannon" src="http://www.freddiemac.com/perspectives/images/authors/EP_John_Cannon-80.jpg">
        </div>
        <div>
          <figcaption class="reduce">
            <strong class="uppercase">John Cannon</strong><br>SVP Multifamily Production and Sales	
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">Dec 12, 2016</div>
      <h3 class="card-title-large"><a href="#">Multifamily Is On a Roll</a></h3>
      <p class="card-blurb-large">Freddie Mac Multifamily is on track to purchase and securitize record volumes of loans. Barring any surprises, the multifamly market could grow 5 to 10 percent in 2017.</p>
      <figure class="avatar">
        <div>
          <img alt="David Brickman" src="http://www.freddiemac.com/perspectives/images/authors/EP_Davd_Brickman-80.jpg">
        </div>
        <div>
          <figcaption class="reduce">
            <strong class="uppercase">David Brickman</strong><br>EVP Multifamily Business	
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">Oct 3, 2016</div>
      <h3 class="card-title-large"><a href="#">Rental Housing Needs a Green Advantage</a></h3>
      <p class="card-blurb-large">The 21st century has been hard on utility bills, which, in turn, have been hard on multifamily property owners and tenants. That's why Freddie Mac launched Green Advantage.</p>
      <figure class="avatar">
        <div>
          <img alt="David Leopold" src="http://www.freddiemac.com/perspectives/images/authors/EP_David_Leopold-80.jpg">
        </div>
        <div>
          <figcaption class="reduce">
            <strong class="uppercase">David Leopold</strong><br>VP Multifamily Affordable Housing Production	
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">Feb 29, 2016</div>
      <h3 class="card-title-large"><a href="#">Crafting Creative Solutions, Staying True to Our Principles</a></h3>
      <p class="card-blurb-large">More important than talking about the dire need for rental housing that's affordable to people earning low or moderate incomes is doing something to help change the situation.</p>
      <figure class="avatar">
        <div>
          <img alt="Deborah Jenkins" src="http://www.freddiemac.com/perspectives/images/authors/EP_Debby_Jenkins-80.jpg">
        </div>
        <div>
          <figcaption class="reduce">
            <strong class="uppercase">Deborah Jenkins</strong><br>SVP Multifamily Underwriting &amp; Credit	
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>

