    
<div class="row"> 
  <div class="large-10 large-centered xlarge-12 column">
    <div class="row xlarge-up-2">
      <div class="column">
        <div class="card feature-block">
          <a href="/multifamily/viewpoints/steve_guggenmos/20170726_mid_year_outlook.html" class="overlay overlay-gradient block">
            <img src="http://www.freddiemac.com/perspectives/images/authors/EP_Steve_Guggenmos-feature.jpg" alt="Steve Guggenmos"/>
            <div class="overlay-contents">
              <div class="article-date-feature">July 26, 2017</div>
              <h3 class="feature-subtitle">Outlook Remains Positive for the Remainder of 2017</h3>
              <p class="article-blurb-lg">Through the first half of 2017, the economy's growth continued to support strong multifamily fundamentals, while the market continued to moderate on a national level.</p>
              <div class="article-byline"><strong class="uppercase">Steve Guggenmos</strong><br><span class="reduce">VP Multifamily Research and Modeling</span></div>
            </div>
          </a>
        </div>
      </div>
      <div class="column">
        <div class="card feature-block">
          <a href="/multifamily/viewpoints/steve_guggenmos/20170726_mid_year_outlook.html" class="overlay overlay-gradient block">
            <img src="http://www.freddiemac.com/perspectives/images/authors/EP_Stephen_Johnson-feature.jpg" alt="Stephen Johnson"/>
            <div class="overlay-contents">
              <div class="article-date-feature">March 29, 2017</div>
              <h3 class="feature-subtitle">Five Tips to Get the Most Cash Out of Your Small Rental Property</h3>
              <p class="article-blurb-lg">If you own a small multifamily property, it's good to be a landlord right now. For the better part of a decade, the multifamily market has been delivering lower vacancies and higher rent growth.</p>
              <div class="article-byline"><strong class="uppercase">Stephen Johnson</strong><br><span class="reduce">VP Multifamily Small Balance Loan Business</span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>