.feature-block {
  min-height: auto;
  position: relative;
  padding-bottom: $gutter; 
  line-height: 1.3;
  .xlarge-up-2 & {
    @include breakpoint(large only) {
      max-width: rem-calc(800);
      margin-left: auto;
      margin-right: auto;
    } 
  }  
}

.recent-headlines-container {
  min-height: 10rem;
  h4 {
    font-weight: $global-weight-medium;
    margin: 0.2em 0;
  }
}

.placeholder {
  margin: 2.5rem auto 3.5rem;
}