.content-band,
.content-inner-band,
.footer { 
  clear: left;
  width: 100%;
  position: relative;
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  @include breakpoint(medium) {
    padding-left: rem-calc(40);
    padding-right: rem-calc(40);    
  }
  @include breakpoint(xlarge) {
    padding-left: rem-calc(60);
    padding-right: rem-calc(60);    
  }
  @include breakpoint(xxlarge) {  
    padding-left: rem-calc(100);
    padding-right: rem-calc(100);    
  }  
  > .row  {
    max-width: rem-calc(1200);
  }   
}
.content-band {
  padding-top: $gutter * 2.5;
  padding-bottom: $gutter * 2.5;
  @include breakpoint(large) {
    padding-top: $gutter * 3;
    padding-bottom: $gutter * 3;   
  }    
  @include breakpoint(xlarge) {
    padding-top: $gutter * 4;
    padding-bottom: $gutter * 4;    
  }
  @include breakpoint(xxlarge) {
    padding-top: $gutter * 4.5;
    padding-bottom: $gutter * 4.5;   
  }
}
.logo-mobile { 
  padding: $gutter $gutter/2 $gutter $gutter * 1.5;
  
  display: inline-block;
  img {
    width: rem-calc(116);
    height: rem-calc(41);
  }
} 
.logo-desktop {
  padding: 1.3125rem 0 1rem;
  display: inline-block;
  img {
    width: rem-calc(190);
    height: rem-calc(67.13);
  }
}
body {
  min-width: rem-calc(350);
}
.stripes{
  background-image: linear-gradient(to right top, transparent 46%, rgba(0, 0, 0, 0.07) 0px, rgba(0, 0, 0, 0.07) 54%, transparent 0px);
  background-size: 10px 10px;
}
.triangle_out {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;  
  height: 80px;
  background: linear-gradient(to top right, #fff 50%, transparent 50%) no-repeat left bottom / 50% 100%,
    linear-gradient(to top left, #fff 50%, transparent 50%) no-repeat right bottom / 50% 100%;
  + .row {
    padding-bottom: 60px;
  }  
}
.triangle_in {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;  
  height: 80px;
  z-index:300;
  background: linear-gradient(to top right, transparent 50%, #fff 50%) no-repeat left bottom / 50% 100%,
    linear-gradient(to top left,transparent 50%, #fff 50%) no-repeat right bottom / 50% 100%;
  + .row,
  + .triangle_out + .row {
    padding-top: 60px;
    margin-bottom: -40px;
  }
 
}

.background-evergreen {
  color: #fff;
  background-color: #87be3c;
}

.background-pear {
  background: $pear;
  color: #33333f;
  a {
    @include anchor-on-dark(none);
  }
}

.background-light-blue {
  color: #00a5e4;
  background-color: #e5f3fc;
}

.background-sky-blue {
  background-color: #bfe8f8;
}

.background-white {
  color: #33333f;
}

.background-light-orange {
  color: #fff;
  background-color: #f5894e;
}

.background-light-teal {
  color: #fff;
  background-color: #33b7ae;
}

.text-green {
  color: $fm-green;
}

.bhf-landing-hero {
  position: relative;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("/corporate/better-housing-finance/images/bhf-hero.jpg");
  background-color: #939393;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
    @include breakpoint(large) {
      min-height: rem-calc(600px); 
	}
    @include breakpoint(small) {
      min-height: rem-calc(150px); 
	}
}
  
.bhf-landing-hero > div {
    width: 90%;
    max-width: 1000px; 
	@include breakpoint(large) {
      padding-top: 150px;
	}
    @include breakpoint(small) {
      padding-top: 50px; 
	  padding-bottom: 75px;
	}
}



.banner-better {
  position: relative;
  text-align: center;
  color: white;
  background-image: url("/corporate/better-housing-finance/images/bhf-sound-housing.jpg");
  background-color: #939393;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; 
  	@include breakpoint(large) {
      min-height: rem-calc(325px);
	}
    @include breakpoint(small) {
      min-height: rem-calc(200px);
	}
}
  
.banner-better > div {
    width: 90%;
    max-width: 1000px; 
}

.banner-opportunities {
  position: relative;
  text-align: center;
  color: white;
  background-image: url("/corporate/better-housing-finance/images/bhf_creating_opportunities.jpg");
  background-color: #939393;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
    @include breakpoint(large) {
      min-height: rem-calc(325px);
	}
    @include breakpoint(small) {
      min-height: rem-calc(200px);
	}
}
  
.banner-opprtunities > div {
    width: 90%;
    max-width: 1000px; 
}

.banner-partners {
  position: relative;
  text-align: center;
  color: white;
  background-image: url("/corporate/better-housing-finance/images/bhf-industry-partners.jpg");
  background-color: #939393;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
    @include breakpoint(large) {
      min-height: rem-calc(325px);
	}
    @include breakpoint(small) {
      min-height: rem-calc(200px);
	} 
}
  
.banner-partners > div {
    width: 90%;
    max-width: 1000px; 
}

	
.blurb-large {
  font-size: 1.375rem;
  font-size: calc(22px +  20 * (100vw - 320px)/1180);
  font-weight: 300;
  padding-bottom: 14px; 
  @include breakpoint(xxlarge) {
    font-size: 2.625rem;       
  } 
}


.banner-overlay-header {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 1;
}


	  
.box-orange {
  position: relative; 
}
  
.box-orange {
  max-width: rem-calc(360px);
  margin: auto;
  padding: 40px 10px;
  background: #f5894e;
  color: #fff;
  border: 5px solid #fff;
  text-align: center;
    @include breakpoint(large) {
      height: rem-calc(290px);
  } 
    @include breakpoint(small) {
      height: rem-calc(220px); 
  }  
}


.box-teal {
  position: relative; 
}
	
.box-teal {
  max-width: rem-calc(360px);
  margin: auto;
  padding: 40px 10px;
  background: #33b7ae;
  color: #fff;
  border: 5px solid #fff;
  text-align: center;
    @include breakpoint(large) {
      height: rem-calc(350px);
  } 
    @include breakpoint(small) {
      height: rem-calc(250px); 
  }  
}



	  
.box-light-blue {
  position: relative;
}
	
.box-light-blue {
  max-width: rem-calc(360px);
  margin: auto;
  padding: 40px 10px;
  background: #f7fbfe;
  color: #00a5e4;
  border: 5px solid #00a5e4; 
  text-align: center;
    @include breakpoint(large) {
      height: rem-calc(350px);
  } 
    @include breakpoint(small) {
      height: rem-calc(250px); 
  } 
}



	  
.box-green {
  position: relative; 
}
	
.box-green {
  max-width: rem-calc(360px);
  margin: auto;
  padding: 40px 10px;
  background: #9ac53c;
  color: #fff;
  border: 5px solid #fff;
  text-align: center;
    @include breakpoint(large) {
      height: rem-calc(260px); 
  } 
    @include breakpoint(small) {
      height: rem-calc(200px);
  } 
}	  
	
h1 {
  font-weight: 500;
}

.image-circle {
  max-height: rem-calc(290px);
  width: 65%;
}
	  
	  
	  
.notch-wrapper {
  position: relative;
  overflow: hidden;
}
.notch-top-v {
  bottom: 0;
  position: absolute;
  width: 100%;
  min-height: 1rem;
  + .notch-top-v {
    bottom: -10px;
  }
  &::before, &::after {
    background-color: inherit;
    bottom: 97%;
    content: "";
    position: absolute;
    width: 50%;
    min-height: 2.5rem;
  }

  &::before {
    right: 50%;
    transform: skewX(65deg);
    transform-origin: 100% 100%;
  }

  &::after {
    left: 50%;
    transform: skewX(-65deg);
    transform-origin: 0 100%;
  }
}


.body-font-white {
  font-size: 1rem;
  font-size: calc(16px + 4 * (100vw - 320px)/1180);
  font-weight: 400;
  color: #fff;
  line-height: 1.4; 
  @include breakpoint(xxlarge) {
    font-size: 1.25rem; 
  } 
}
	  
.text-dark-large {
  font-size: 1.125rem;
  font-size: calc(18px + 10 * (100vw - 320px)/1180);
  font-weight: 400;
  color: #33333f;
  line-height: 1.4; 
  @include breakpoint(xxlarge) {
    font-size: 1.75rem; 
  } 
}
	  
.blurb {
  font-size: 1rem;
  font-size: calc(16px + 8 * (100vw - 320px)/1180);
  font-weight: 400;
  line-height: 1.4;
  @include breakpoint(xxlarge) {
    font-size: 1.5rem; 
  } 
  @include breakpoint(large) {
    padding-top: 30px; 
	padding-left: 10px;
    padding-right: 10px;
	}
  @include breakpoint(small) {
    padding-top: 5px; 
	}
}

.quote {
  padding-bottom: 20px;
  @include breakpoint(large) {
    text-align: right; 
	}
  @include breakpoint(small) {
    text-align: center; 
	}
}
	  
.blurb strong {
  font-weight: 600;
}
	  
.text-large {
  font-size: 1.125rem;
  font-size: calc(18px + 10 * (100vw - 320px)/1180);
  font-weight: 300;
  line-height: 1.4; 
  @include breakpoint(xxlarge) {
      font-size: 1.75rem;
  } 
}
	  
.header-large {
  font-size: 2.25rem;
  font-size: calc(36px + 24 * (100vw - 320px)/1180);
  font-weight: 400;
  line-height: 1;
  @include breakpoint(xxlarge) {
	  font-size: 3.75rem; 
  } 
}

.header-large strong {
  font-weight: 600;
}
	  
.header-banner-large {
  font-size: 2.25rem;
  font-size: calc(36px + 24 * (100vw - 320px)/1180);
  font-weight: 500;
  line-height: 1;
  @include breakpoint(xxlarge) {
	  font-size: 3.75rem; 
  } 
    @include breakpoint(large) {
      padding-top: 100px;
	}
    @include breakpoint(small) {
      padding-top: 25px;
	}
}

.video-modal {
	display: inline;
}
	  
.emphasis {
  font-size: 2.25rem;
  font-size: calc(36px + 12 * (100vw - 320px)/1180);
  font-weight: 600; 
  @include breakpoint(xxlarge) {
	  font-size: 3rem; 
  } 
}
  
.children-vertical-align-large {
  @include breakpoint(large) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.orbit-container-insert .orbit-previous svg,
.orbit-container-insert .orbit-next svg,
.orbit-controls-outside .orbit-previous svg,
.orbit-controls-outside .orbit-next svg {
  fill: #fff;
  stroke-width: 1px; 
  opacity: 0.7;
  transform: scaleY(1.5);
  stroke-linecap:round; 
  stroke-linejoin:round;
}

.orbit-controls-outside .orbit-previous, 
.orbit-controls-outside .orbit-next {
 font-size: 3rem;
}

.slide-inner-container {
   @include breakpoint (medium) {
     min-height: rem-calc(550px);
  }
   @include breakpoint (large) {
     min-height: rem-calc(550px);
  }
   @include breakpoint (xlarge) {
     min-height: rem-calc(500px);
  }
   @include breakpoint (xxlarge) {
     min-height: rem-calc(500px);
  }
}


