// classes to override display property 
.block {
  width: 100%;
  display: block;
  > img {
    width: 100% !important;
  }
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
  width: 100%;
  border-width: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.list-item {
  display: list-item;
}
// display: none is part of visibility styles
