.mf-bg1,
.mf-bg2,
.mf-bg3,
.mf-bg4,
.mf-bg5,
.mf-bg6,
.mf-feature,
.featured-news { 
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} 

.mf-bg1 {
  background-image: linear-gradient(rgba(68, 123, 189, 0.8), rgba(68, 123, 189, 0.8)), url('/images/multifamily/mf-bg1.jpg');
}  
.mf-bg2 {
  background-image: linear-gradient(rgba(68, 123, 189, 0.8), rgba(68, 123, 189, 0.8)), url('/images/multifamily/mf-bg2.jpg');
}  
.mf-bg3 {
  background-image: linear-gradient(rgba(68, 123, 189, 0.8), rgba(68, 123, 189, 0.8)), url('/images/multifamily/mf-bg3.jpg');
}  
.mf-bg4 {
  background-image: linear-gradient(rgba(68, 123, 189, 0.8), rgba(68, 123, 189, 0.8)), url('/images/multifamily/mf-bg4.jpg');
}  
.mf-bg5 {
  background-image: linear-gradient(rgba(68, 123, 189, 0.8), rgba(68, 123, 189, 0.8)), url('/images/multifamily/mf-bg5.jpg');
}  
.mf-bg6 {
  background-image: linear-gradient(rgba(68, 123, 189, 0.8), rgba(68, 123, 189, 0.8)), url('/images/multifamily/mf-bg6.jpg');
}  

.featured-news { 
  background-image: linear-gradient(rgba($fm-green, 0.8), rgba($fm-green, 0.8)), url('/images/multifamily/mf-bg2.jpg');
}