body {
  min-width: rem-calc(320);
}
// prevent padding on svg from distorting the aspect ratio, and defaulting to middle alignment for inline svgs
svg {
  box-sizing: content-box;
  vertical-align: middle;
}
.is-reveal-open #top { position: relative; }

figure { 
  margin: 0; // reseting odd margins that are part of Foundation default
  @include breakpoint (small only) {
   margin-bottom: $global-margin;
  }
  img { 
   width: 100%;
  } 
  img + figcaption,
  figcaption + img {
    margin-top: $global-margin;
  }
}

blockquote {
  cite { 
    display: inline;
  }
  :last-child {
    margin-bottom: 0;
  }
}
hr {
  @include breakpoint (medium) {
    margin: rem-calc(30) auto;
  } 
}
