
.hero-homeownership-month { // custom header for NHM only
  position: relative;   
  color: $white;    
  background-size: cover;    
  background-color: $fm-gray;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero/homepage_hero_nhm_mobile.jpg");
  @media (min-width: -zf-bp-to-em(map-get($breakpoints, medium) + 180px)) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero/homepage_hero_nhm.jpg");    
  }
  .hero-text {  
    font-size: rem-calc(26);
    padding: 6em 0 1.25em;
    font-size: calc(26px +  26 * (100vw - 320px) / 1180);  
    @include breakpoint(medium) {
      max-width: 80%;  
      margin: 0 auto;
    }         
    @include breakpoint(large) {
      max-width: 98%;  
      padding: 5em 0 1.25em;
    }         
    @include breakpoint(xxlarge) {
      font-size: rem-calc(54);
    }       
    h1 { 
      font-size: inherit;
      margin-bottom: 0.5em;
    }
    span { display: block;}  
  }
}
