.button.hero-button { 
  @include breakpoint (small only) {
     padding: 0.5em 1.25em;       
  }
}
.hero-text {
  text-align: center;
}

.hero {  // default hero style, family with arms held up to make house outline
  position: relative;
  padding: rem-calc(30 0 30);
  @media screen { 
    background: $fm-gray url('/images/hero/homepage_hero2_mobile.jpg') no-repeat left bottom / cover;  
  }
  @media (min-width: -zf-bp-to-em(map-get($breakpoints, medium) - 120px)) {
    padding: rem-calc(35 0 30);
  }    
  @include breakpoint(medium) {
    background: transparent url('/images/hero/homepage_hero4.jpg') no-repeat center center / cover;
  }
  @media (min-width: -zf-bp-to-em(map-get($breakpoints, large) - 155px)) {
    padding: rem-calc(70 0 60);
  }
  @include breakpoint(xxlarge) {
    padding: rem-calc(115 0 90);
  }
  @media (min-width: -zf-bp-to-em(map-get($breakpoints, xxlarge) + 180px)) {      
    padding: rem-calc(145 0 110);
    background-position: top left;
  }
  .hero-text {
    @include breakpoint(medium) {
      text-align: left;
      padding-left: 34%;
    } 
    @media (min-width: -zf-bp-to-em(map-get($breakpoints, medium) + 330px)) {
      span { display: block;}  
    }
    @include breakpoint(large) {
      margin-bottom: 3rem;      
    }
  }
  
  // overrides for better housing finance promotion
  &.hero-better-housing {
    @media screen {   
      background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/images/hero/homepage_hero_bhf.jpg");
      background-position: center center;
    }
    @include breakpoint(xxlarge) {
      background-position: center bottom;
    }
  }
  
}

