
img:not([src$=svg]):not(.no-border) {
  border: 1px solid darken($light-gray, 5%);
  &.full {
    width: 100%;
  }
}

svg {
  text {
    text-anchor: middle;
    font-family: $body-font-family;
  }
}