.button.hero-button { 
  @include breakpoint (small only) {
     padding: 0.5em 1.25em;       
  }
}
.hero-text {
  text-align: center;
}

.hero { 
  position: relative;
  padding: rem-calc(30 0 25);
  @media screen { 
    background: $fm-gray url('/images/multifamily/hero_home_01.jpg') no-repeat center center;  
    background-size: cover;
  }
  background-size: cover;
  h1 {
    @include breakpoint(medium only) {
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
    } 
  }  
  @include breakpoint(medium) {
  padding: rem-calc(45 0 40);
  } 
  @include breakpoint(large) {
    padding: rem-calc(70 0 60);
  }
  @include breakpoint(xlarge) {
    padding: rem-calc(115 0 90);
  }
  @include breakpoint(xxlarge) {     
    padding: rem-calc(145 0 110);
  }
}

