// override classes
.no-border { border-width: 0 !important; }
.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }

//use these classes to create variable padding on elements like cards and callouts
.column {
  .small-to-default {
    padding: $callout-padding * 0.5;
    @include breakpoint(medium) {  
      padding: $callout-padding;
    }  
  }
  .small-to-large {
    padding: $callout-padding * 0.5;
    @include breakpoint(medium) {  
      padding: $callout-padding;
    }
    @include breakpoint(large) {  
      padding: $callout-padding * 1.25;
    }
    @include breakpoint(xlarge) {  
      padding: $callout-padding * 1.5;
    }    
  }
}