<div class="background-yellow footer-promo">
  <div class="row" data-equalizer data-equalize-on="large">
    <div class="column large-8" data-equalizer-watch>
       <h3 class="callout-footer-title">Join Our Talent Network</h3>
      <p>Receive <strong>customized job alerts</strong> and the latest company information.</p>
    </div>
    <div class="column large-offset-1 large-3 position-relative" data-equalizer-watch>
      <div class="footer-promo-cta">
       <a class="hollow large button" href="https://connect.thehive.com/freddiemac-join?cp=Freddie+Mac+Career+Site&d=fnCLOSE">Join Now</a>
      </div>
    </div>
  </div>
</div>
