<style>
.homepage-business-highlight{
  margin:0;
  padding:3rem 0 2rem;
  background-image:linear-gradient(to left top,transparent 46%,rgba(0,0,0,.07) 0,rgba(0,0,0,.07) 54%,transparent 0);
  background-size:10px 10px; 
}
.sbl-img-wrapper { text-align: center; margin-bottom: 20px; padding-top:6px; }
@media screen and (max-width:35.625em){
 .sbl-img-wrapper { margin: 0 30px 20px; }
}
.business-highlight-contents{
  padding:10px 20px;
  margin: 0 auto;
  max-width: 875px;
}
.sbl-promo-text {
  font-size: 18px;
}
.sbl-title {
  font-size: 32px;
  padding: 0 10px 10px;
}

@media screen and (min-width:49em){
 .sbl-promo-text { font-size: 19px;}
}
@media screen and (min-width:55em){
 .sbl-flex { display: flex; flex-flow: row nowrap; align-items: flex-end;}
 .homepage-business-highlight{padding:6rem 0 5rem}
 .sbl-img-wrapper { padding-right: 0px; }
 .sbl-promo-text { font-size: 20px;} 
 .sbl-title {  font-size: 47px; padding: 0 0 10px;}
}

@media screen and (min-width:79.375em){
 .homepage-business-highlight{padding-bottom:25rem;min-height:55rem}
}
</style>

<div class="background-blue homepage-business-highlight">
  <div class="business-highlight-contents">
    <h2 class="sbl-title gutter-bottom text-center">Innovation. Leadership. Commitment.</h2>
    <div class="row sbl-flex">
      <div class="column medium-4">
        <p class="sbl-img-wrapper">
        <img class="no-border sbl-img" src="/images/homepage/SBL_200Billion_New-Badge_2.png"/>
        </p>
      </div>         
      <div class="column medium-8">
        <div class="sbl-promo-text">
          <p>Since the program began in 2009:</p>
          <ul>
            <li>The vast majority of first-loss credit risk on $200 billion in loans shifted away from taxpayers</li>
            <li>590 unique K-Deal and SB-Deal investors from around the world</li>
            <li>Virtually 0 credit losses</li>
            <li>About 2.7 million apartment homes made possible</li>
          </ul> 
        </div>                    
      </div>              
    </div>        
    <div class="text-center gutter-top">
      <a href="/multifamily/viewpoints/robert_koontz/200billion.html" class="button hollow">Learn More<span class="show-for-sr"> about this Multifamily Milestone</span></a>
    </div>
  </div>
</div>
