<div class="column">
  <div class="card" data-equalizer-watch>
    <a class="overlay block" href="/corporate/hr-blog/20170620_homeownership-accessible.html">
      <img src="http://www.freddiemac.com/about/images/woman_with_dog.jpg" alt="Blog Img" />
    </a>
    <div class="card-section">
      <p class="article-date">June 20, 2017</p>
      <h3 class="card-title"><a href="/corporate/hr-blog/20170620_homeownership-accessible.html">Making Homeownership More Accessible to Employees</a></h3>
      <p class="article-category">Benefits</p>
      <p class="card-blurb">Making Homeownership More Accessible to Employees.</p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card" data-equalizer-watch>
    <a class="overlay block" href="/corporate/hr-blog/20170513_autism-as-asset.html">
      <img src="http://www.freddiemac.com/about/images/AutismRibbon.jpg" alt="Blog Img" />
    </a>
    <div class="card-section">
      <p class="article-date">May 13, 2017</p>
      <h3 class="card-title"><a href="/corporate/hr-blog/20170513_autism-as-asset.html">Autism as an Asset in the Workplace</a></h3>
      <p class="article-category">Diversity</p>
      <p class="card-blurb">The college-educated young adults in Freddie Mac's Autism Internship Program contribute their unique capabilities, adding to the company's and their own success.</p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card" data-equalizer-watch>
    <a class="overlay block" href="/corporate/hr-blog/20170511_meet-kamara.html">
      <img src="/images/about/meet_Kamara_Green-325.jpg" alt="Blog Img" />
    </a>
    <div class="card-section">
      <p class="article-date">May 11, 2017</p>
      <h3 class="card-title"><a href="/corporate/hr-blog/20170511_meet-kamara.html">Meet Kamara</a></h3>
      <p class="article-category">Our Employees</p>
      <p class="card-blurb">Meet Kamara, a production manager in our Multifamily business. Find out about her career, the work she does here, and what she likes to do outside of the office. </p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card" data-equalizer-watch>
    <a class="overlay block" href="/corporate/hr-blog/20170511_meet-bellore.html">
      <img src="/images/about/meet_Bellore_Raghuram-325.jpg" alt="Blog Img" />
    </a>
    <div class="card-section">
      <p class="article-date">May 11, 2017</p>
      <h3 class="card-title"><a href="/corporate/hr-blog/20170511_meet-bellore.html">Meet Bellore</a></h3>
      <p class="article-category">Our Employees</p>
      <p class="card-blurb">Meet Bellore, a business process director in our Single-Family business. Find out about his career, the work he does here, and what he likes to do outside of the office.</p>
    </div>
  </div>
</div> 
<div class="column">
  <div class="card" data-equalizer-watch>
    <a class="overlay block" href="/corporate/hr-blog/20161221_home_for_the_holidays.html">
      <img src="http://www.freddiemac.com/blog/images/blog_home_holidays.jpg" alt="Blog Img" />
    </a>
    <div class="card-section">
      <p class="article-date">December 21, 2016</p>
      <h3 class="card-title"><a href="/corporate/hr-blog/20161221_home_for_the_holidays.html">Home for the Holidays</a></h3>
      <p class="article-category">Community</p>
      <p class="card-blurb">When we make our mission personal, we change people's lives.  Follow along as our Community Crew volunteers give back and help Andrea Morgan in her journey to peace, joy and home.</p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card" data-equalizer-watch>
    <a class="overlay block" href="/corporate/hr-blog/20161111_z_salute_to_our_veterans.html">
      <img src="http://www.freddiemac.com/blog/images/blog_veterans_day_parade.jpg" alt="Blog Img" />
    </a>
    <div class="card-section">
      <p class="article-date">December 11, 2016</p>
      <h3 class="card-title"><a href="/corporate/hr-blog/20161111_z_salute_to_our_veterans.html">A Salute to Our Veterans</a></h3>
      <p class="article-category">Our Employees</p>
      <p class="card-blurb">This Veterans Day, in communities across the nation, we pay special tribute to veterans and their families.</p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card" data-equalizer-watch>
    <a class="overlay block" href="#">
      <img src="http://www.freddiemac.com/about/images/meet_Christopher_Osborn-325.jpg" alt="Blog Img" />
    </a>
    <div class="card-section">
      <p class="article-date">November 10, 2016</p>
      <h3 class="card-title"><a href="#">Meet Chris</a></h3>
      <p class="article-category">Our Employees</p>
      <p class="card-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
  </div>
</div> 
<div class="column">
  <div class="card" data-equalizer-watch>
    <a class="overlay block" href="#">
      <img src="http://www.freddiemac.com/about/images/YearUp.jpg" alt="Blog Img" />
    </a>
    <div class="card-section">
      <p class="article-date">November 5, 2016</p>
      <h3 class="card-title"><a href="#">Year Up</a></h3>
      <p class="article-category">Diversity</p>
      <p class="card-blurb">Investing in the next generation of IT professionals.</p>
    </div>
  </div>
</div>
