<div class="row large-up-2 gutter-bottom">
  <div class="column">
    <div class="card feature-block">
      <a href="/corporate/hr-blog/20171012_habitat_community_crew.html" class="overlay block overlay-dark">
        <img src="http://www.freddiemac.com/blog/images/blog_habitat_crew-large.jpg" alt="Community Crew"/>
        <div class="overlay-contents">
          <div class="article-date-feature">October 12, 2017</div>
          <h3 class="subtitle">Habitat: &quot;She Nailed It!&quot;</h3>
          <div class="article-category">Community</div>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="card feature-block">
      <a href="/corporate/hr-blog/20170331_diversity_at_work.html" class="overlay block overlay-dark">
        <img src="http://www.freddiemac.com/blog/images/blog-diversity-2-large.jpg" alt="Diversity at Work"/>
        <div class="overlay-contents">
          <div class="article-date-feature">March 31, 2017</div>
          <h3 class="subtitle">Diversity at Work: When Collaboration Fuels Success</h3>
          <div class="article-category">Diversity</div>
        </div>
      </a>
    </div>
  </div>
</div>