<div class="desktop-nav hide" id="primary-nav">
  <div class="row column primarynav-buffer"> 
    <div class="top-bar"> 
      <div class="top-bar-left show-for-xlarge">
        <a href="/corporate/" class="logo-desktop"><img alt="Freddie Mac logo" src="/images/FreddieMacLogo.svg" class="no-border"></a>
      </div>
      <nav class="top-bar-right" id="main-nav" role="navigation">  
        <ul class="menu vertical xlarge-horizontal">       
          <li id="nav-perspectives"><a href="/corporate/perspectives-landing.html">Perspectives</a>
          </li>
          <li id="nav-research"><a href="/corporate/research-landing.html">Research</a>          
            <ul class="menu xlarge-horizontal hide no-bullet" id="subnav-research-list">
              <li><a id="subnav-research-mortgage" href="/corporate/research-pmms-article.html">Mortgage Rates</a></li>
              <li><a id="subnav-research-insight" href="/corporate/research-insight.html">Insight</a></li>
              <li><a id="subnav-research-outlook" href="/corporate/research-outlooks.html">Outlook</a></li>
              <li><a id="subnav-research-consumer" href="/corporate/research-consumer.html">Consumer Research</a></li>
              <li><a id="subnav-research-indices" href="/corporate/research-aimi.html">Indices</a></li>
              <li><a id="subnav-research-datasets" href="/corporate/research-data.html">Additional Datasets</a></li>
            </ul>
          </li>
          <li id="nav-blog"><a href="/corporate/blog-landing.html">Blog</a>
            <ul class="menu xlarge-horizontal hide no-bullet" id="subnav-blog-list">
              <li><a id="subnav-blog-homeownership" href="/corporate/blog-homeownership.html">Homeownership</a></li>
              <li><a id="subnav-blog-rental" href="/corporate/blog-rental.html">Rental Housing</a></li>
              <li><a id="subnav-blog-research" href="/corporate/blog-research.html">Research &amp; Analysis</a></li>
              <li><a id="subnav-blog-notable" href="/corporate/blog-notable.html">Notable</a></li>
              <li><a id="subnav-blog-archive" href="/corporate/blog-archive.html">Archive</a></li>
            </ul>
          </li>
          <li id="nav-mediaroom"><a href="/corporate/media-landing.html">Media Room</a>
          </li>
          <li id="nav-about"><a href="/corporate/about-landing.html">About</a>
          </li>
        </ul>
        <ul class="menu vertical nav-bus-section" data-accordion-menu>
          <li class="nav-accordion-parent nav-bus-toggle"><a href="#">Our Businesses</a>
            <ul class="menu vertical nested"
              <li><a href="/singlefamily/"><h4>Single-Family</h4>
                    <p>For lenders, servicers and industry partners</p></a></li>
              <li><a href="/multifamily/"><h4>Multifamily</h4>
                    <p>For lenders, servicers, borrowers and investors</p></a></li>
              <li><a href="/capital-markets/"><h4>Capital Markets</h4>
                    <p>For securities investors</p></a></li>
            </ul>
          </li>
        </ul>     
      </nav>
    </div>
  </div>
  <div class="subnav-edge"></div> 
</div>