<div class="nav-global" id="nav-global">
  <div class="row collapse">
    <div class="column">
      <div class="top-bar" id="top-bar"> 
        <div class="title-bar">
          <div class="float-right hide-for-xlarge">
            <button id="search-toggle" class="search-icon button" type="button" data-toggle="nav-search" aria-label="toggle search">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.11 64.57"><defs><style>.a{fill:none;stroke-width:8px;}.a,.b{stroke:#00a6e2;}.b{fill:#00a6e2;stroke-linecap:round;stroke-width:7px;}</style></defs><circle class="a" cx="23.67" cy="23.67" r="20.17"/><line class="b" x1="38.19" y1="37.66" x2="62.11" y2="61.57"/></svg>
            </button><button id="menu-toggle" class="toggle-icon button" type="button" data-toggle="nav-main top-bar" aria-label="toggle menu"></button>
          </div>
          <a href="/corporate/" class="logo-corp">
            <img class="no-border" src="/images/FreddieMacLogo.svg" alt="Freddie Mac logo">
          </a>
          <a href="/corporate/" class="mobile-home-text">Freddie Mac Home</a>
        </div>
      </div> 
      <nav class="nav-main ease-in-out" id="nav-main" role="navigation" data-toggler aria-expanded="false" data-animate="slide-in-down slide-out-up">      
        <div class="nav-section">
          <a id="nav-perspectives" class="show-for-xlarge" href="/corporate/perspectives-landing.html">Perspectives</a>
          <ul class="no-bullet vertical menu" id="subnav-perspectives" data-accordion-menu>
            <li class="subnav-item" id="subnav-perspectives-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-perspectives-toggle" data-toggle="subnav-perspectives-list" aria-controls="subnav-perspectives-list">Perspectives</a>
              <ul class="menu vertical nested xlarge-horizontal" id="subnav-perspectives-list">
                <li class="hide-for-xlarge"><a id="subnav-perspectives-overview" href="/corporate/perspectives-landing.html">Overview</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="nav-section">
          <a id="nav-research" class="show-for-xlarge" href="/corporate/research-landing.html">Research</a>       
          <ul class="no-bullet vertical menu" id="subnav-research" data-accordion-menu>
            <li class="subnav-item ease" id="subnav-research-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-research-toggle" data-toggle="subnav-research-list" aria-controls="subnav-research-list">Research</a>
              <ul class="menu vertical nested xlarge-horizontal" id="subnav-research-list">
                <li class="hide-for-xlarge"><a id="subnav-research-overview" href="/corporate/research-landing.html">Overview</a></li>
                <li><a id="subnav-research-mortgage" href="/corporate/research-pmms-article.html">Mortgage Rates</a></li>
                <li><a id="subnav-research-insight" href="/corporate/research-insight.html">Insight</a></li>
                <li><a id="subnav-research-outlook" href="/corporate/research-outlooks.html">Outlook</a></li>
                <li><a id="subnav-research-consumer" href="/corporate/research-consumer.html">Consumer Research</a></li>
                <li><a id="subnav-research-indices" href="/corporate/research-aimi.html">Indices</a></li>
                <li><a id="subnav-research-datasets" href="/corporate/research-data.html">Additional Datasets</a></li>
              </ul>
            </li>  
          </ul>
        </div>
        <div class="nav-section"> 
          <a id="nav-blog" class="show-for-xlarge" href="/corporate/blog-landing.html">Blog</a>
          <ul class="no-bullet vertical menu" id="subnav-blog" data-accordion-menu>
            <li class="subnav-item" id="subnav-blog-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-blog-toggle" data-toggle="subnav-blog-list" aria-controls="subnav-blog-list">Blog</a>
              <ul class="menu vertical nested xlarge-horizontal" id="subnav-blog-list">
                <li class="hide-for-xlarge"><a id="subnav-blog-overview" href="/corporate/blog-landing.html">Overview</a></li>
                <li><a id="subnav-blog-homeownership" href="/corporate/blog-homeownership.html">Homeownership</a></li>
                <li><a id="subnav-blog-rental" href="/corporate/blog-rental.html">Rental Housing</a></li>
                <li><a id="subnav-blog-research" href="/corporate/blog-research.html">Research &amp; Analysis</a></li>
                <li><a id="subnav-blog-notable" href="/corporate/blog-notable.html">Notable</a></li>
                <li><a id="subnav-blog-archive" href="/corporate/blog-archive.html">Archive</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="nav-section">
          <a id="nav-mediaroom" class="hide show-for-xlarge" href="/corporate/media-landing.html">Media Room</a>
          <ul class="no-bullet vertical menu" id="subnav-mediaroom" data-accordion-menu>
            <li class="subnav-item" id="subnav-mediaroom-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-mediaroom-toggle" data-toggle="subnav-mediaroom-list" aria-controls="subnav-mediaroom-list">Media Room</a>
              <ul class="menu vertical nested xlarge-horizontal" id="subnav-mediaroom-list">
                <li class="hide-for-xlarge"><a id="subnav-mediaroom-overview" href="/corporate/media-landing.html">Overview</a></li>
                <li><a id="subnav-mediaroom-archive" href="/corporate/media-archive.html">Press Release Archive</a></li>
                <li><a id="subnav-mediaroom-resources" href="/corporate/media-and-press.html">Media Resources</a></li>
              </ul> 
            </li>
          </ul>
        </div>
        <div class="nav-section"> 
          <a id="nav-about" class="hide show-for-xlarge" href="/corporate/about-landing.html">About</a>      
          <ul class="no-bullet vertical menu" id="subnav-about" data-accordion-menu>
            <li class="subnav-item" id="subnav-about-item">
              <a class="mobile-nav-accordion-parent hide-for-xlarge" id="subnav-about-toggle" data-toggle="subnav-about-list" aria-controls="subnav-about-list">About</a>            
              <ul class="menu vertical nested xlarge-horizontal" id="subnav-about-list">
                <li class="hide-for-xlarge"><a id="subnav-about-overview" href="/corporate/about-landing.html">Overview</a></li>
                <li><a id="subnav-about-leaders" href="/corporate/about-our-leaders.html">Our Leaders</a></li>
                <li><a id="subnav-about-business" href="/corporate/about-our-business.html">Our Business</a></li>
                <li><a id="subnav-about-people" href="/corporate/about-our-people.html">Our People</a></li>
                <li><a id="subnav-about-communities" href="/corporate/about-our-communities.html">Our Communities</a></li>
                <li><a id="subnav-about-governance" href="/corporate/about-our-governance.html">Corporate Governance</a></li>
                <li><a id="subnav-about-investors" href="/corporate/about-investors.html">Investor Relations</a></li>
                <li><a id="subnav-about-careers" href="http://www.freddiemac.jobs/">Careers</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="nav-section nav-bus-section">
          <ul class="menu vertical show-for-xlarge nav-bus-container" data-accordion-menu>
            <li class="nav-accordion-parent nav-bus-item"><a class="nav-bus-toggle" href="#">Our Businesses</a>
              <ul class="menu vertical nested" id="subnav-bus-list">
                <li><a href="/singlefamily/"><h4>Single-Family</h4>
                      <p>For lenders, servicers and industry partners</p></a></li>
                <li><a href="/multifamily/"><h4>Multifamily</h4>
                      <p>For lenders, servicers, borrowers and investors</p></a></li>
                <li><a href="/capital-markets/"><h4>Capital Markets</h4>
                      <p>For securities investors</p></a></li>
              </ul>
            </li>
          </ul>
        </div>  
        <div class="nav-section hide-for-xlarge">      
          <ul class="no-bullet vertical menu">
            <li class="mobile-nav-topic">Our Businesses</li>
            <li><a href="/singlefamily/">Single-Family</a></li>
            <li><a href="/multifamily/">Multifamily</a></li>
            <li><a href="/capital-markets/">Capital Markets</a></li>        
            <li class="mobile-nav-topic">Renters, Buyers, &amp; Owners</li> 
            <li><a href="http://myhome.freddiemac.com/">My Home by Freddie Mac<sup>&reg;</sup></a></li>
            <li><a href="https://ww3.freddiemac.com/loanlookup/">Do we own your mortgage?</a></li>
            <li><a href="https://www.homesteps.com/">Homes for Sale</a></li>
          </ul>
        </div>
      </nav> 

      <div class="nav-search ease-in-out" aria-expanded="false" id="nav-search" data-toggler data-animate="slide-in-down slide-out-up">
        <form action="http://search.freddiemac.com/search" method="get" accept-charset="utf-8">
          <input type="hidden" name="entqr" value="0">
          <input type="hidden" name="output" value="xml_no_dtd">
          <input type="hidden" name="sort" value="date:D:L:d1">
          <input type="hidden" name="client" value="default_frontend">
          <input type="hidden" name="ud" value="1">
          <input type="hidden" name="oe" value="UTF-8">
          <input type="hidden" name="ie" value="UTF-8">
          <input type="hidden" name="proxystylesheet" value="default_frontend">
          <input type="hidden" name="getfields" value="description">
          <input type="hidden" name="site" value="default_collection">
          <div class="row">
            <div class="column small-9 medium-10 large-11">
            <label for="mobile-search" class="show-for-sr">Site Search</label>
              <input id="mobile-search" name="q" type="search" placeholder="Site Search" required maxlength="100">	   
            </div>
            <div class="column small-3 medium-2 large-1">
              <button type="submit" class="float-right button search-button">Search</button>
            </div>
          </div>
        </form>
      </div>

      
    </div>
  </div>
  <div class="subnav-edge"></div> 
</div>
