<section class="sidebar background-yellow">
  <div class="row">
    <div class="column">
      <h2><a href="/corporate/hr-blog/">Careers Blog Home</a></h2>
      <ul class="list-divided-white no-bullet lead">
        <li><a href="/corporate/hr-blog/benefits.html">Benefits</a></li>
        <li><a href="/corporate/hr-blog/diversity.html">Diversity</a></li>
        <li><a href="/corporate/hr-blog/community.html">Community</a></li>
        <li><a href="/corporate/hr-blog/employees.html">Our Employees</a></li>
        <li><a href="/corporate/hr-blog/notable.html">Notable</a></li>
      </ul>
    </div>
  </div>
</section>
