<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2 class="sidebar-title">News Releases</h2>
      <ul class="list-divided no-bullet flex-up">
        <li><span class="article-date">June 6, 2017</span><br>
        <a class="weight-medium" href="#">Freddie Mac Surpasses $200 Billion in Multifamily K-Deal and SB-Deal Securitizations</a></li>	
        <li><span class="article-date">June 2, 2017</span><br>
        <a class="weight-medium" href="#">Freddie Mac Prices $1.1 Billion Multifamily K-Deal, KF31</a></li>	
        <li><span class="article-date">May 26, 2017</span><br>
        <a class="weight-medium" href="#">Freddie Mac Prices $460.4 Million Multifamily K-Deal, K-L01</a></li>	
        <li><span class="article-date">May 26, 2017</span><br>
        <a class="weight-medium" href="#">Freddie Mac Prices $460.4 Million Multifamily K-Deal, K-L01</a></li>	
        <li><a class="icon-chevron-right weight-medium block" href="#">News Release Archive</a>
      </li>        
      </ul>
    </div>
  </div>
</section>
