<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2 class="sidebar-title">Recent Posts</h2>
      <ul class="list-divided no-bullet">
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">
            <a class="overlay" href="/corporate/hr-blog/20170620_homeownership-accessible.html">
              <img src="http://www.freddiemac.com/about/images/woman_with_dog.jpg" alt="Blog Img" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">June 20, 2017</div>
            <h3 class="sidebar-headline"><a href="/corporate/hr-blog/20170620_homeownership-accessible.html">Making Homeownership More Accessible to Employees</a></h3>
            <div class="article-category">Benefits</div>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">
            <a class="overlay" href="/corporate/hr-blog/20170513_autism-as-asset.html">
              <img src="http://www.freddiemac.com/about/images/AutismRibbon.jpg" alt="Blog Img" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">May 13, 2017</div>
            <h3 class="sidebar-headline"><a href="/corporate/hr-blog/20170513_autism-as-asset.html">Autism as an Asset in the Workplace</a></h3>
            <div class="article-category">Diversity</div>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">
            <a class="overlay" href="/corporate/hr-blog/20170511_meet-kamara.html">
              <img src="/images/about/meet_Kamara_Green-325.jpg" alt="Blog Img" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">May 11, 2017</div>
            <h3 class="sidebar-headline"><a href="/corporate/hr-blog/20170511_meet-kamara.html">Meet Kamara</a></h3>
            <div class="article-category">Our Employees</div>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">
            <a class="overlay" href="/corporate/hr-blog/20170511_meet-bellore.html">
              <img src="/images/about/meet_Bellore_Raghuram-325.jpg" alt="Blog Img" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">May 11, 2017</div>
            <h3 class="sidebar-headline"><a href="/corporate/hr-blog/20170511_meet-bellore.html">Meet Bellore</a></h3>
            <div class="article-category">Our Employees</div>
          </div>
        </li> 
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">
            <a class="overlay" href="/corporate/hr-blog/20161221_home_for_the_holidays.html">
              <img src="http://www.freddiemac.com/blog/images/blog_home_holidays.jpg" alt="Blog Img" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">December 21, 2016</div>
            <h3 class="sidebar-headline"><a href="/corporate/hr-blog/20161221_home_for_the_holidays.html">Home for the Holidays</a></h3>
            <div class="article-category">Community</div>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">
            <a class="overlay" href="/corporate/hr-blog/20161111_z_salute_to_our_veterans.html">
              <img src="http://www.freddiemac.com/blog/images/blog_veterans_day_parade.jpg" alt="Blog Img" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">December 11, 2016</div>
            <h3 class="sidebar-headline"><a href="/corporate/hr-blog/20161111_z_salute_to_our_veterans.html">A Salute to Our Veterans</a></h3>
            <div class="article-category">Our Employees</div>
          </div>
        </li> 
      </ul>
    </div>
  </div>
</section>
